﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/font-face.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="~/Assets/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    @*<link href="~/Assets/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">*@
    <link href="~/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/Assets/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/Assets/css/theme.css" rel="stylesheet" media="all">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <!-- END MAIN CONTENT-->
    <!-- END PAGE CONTAINER-->
    <!-- Jquery JS-->
    <script src="~/Assets/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="~/Assets/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="~/Assets/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="~/Assets/vendor/slick/slick.min.js">
    </script>
    <script src="~/Assets/vendor/wow/wow.min.js"></script>
    <script src="~/Assets/vendor/animsition/animsition.min.js"></script>
    <script src="~/Assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="~/Assets/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="~/Assets/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="~/Assets/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/Assets/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="~/Assets/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="~/Assets/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="~/Assets/js/main.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

    <script>
        $(function () {

            $.ajax({
                url: "https://localhost:44370/home/ListTree",
                success: function (result) {
                    console.log(result);
                    $('#jstree_demo_div').jstree({
                        'core': {
                            //'data': [
                            //    { "id": "ajson1", "parent": "#", "text": "Simple root node" },
                            //    { "id": "ajson2", "parent": "#", "text": "Root node 2" },
                            //    { "id": "ajson3", "parent": "ajson2", "text": "Child 1" },
                            //    { "id": "ajson4", "parent": "ajson2", "text": "Child 2" },
                            //]
                            'data': result
                        }
                    });
                }
            });
        });
    </script>
</body>
</html>
