﻿@model IEnumerable<TreeView.Models.Categorie>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">Catégorie Tree</div>
            <div class="card-body" id="jstree_demo_div"></div>
        </div>
    </div>
    <div class="col-lg-9">
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--sm">
                Ajouter un categorie ici :
            </div>
            @using (Html.BeginForm("CreateCategorie", "Home", FormMethod.Post))
            {
                <div class="form-group">
                    <input class="au-input au-input--full" type="text" name="libelle" placeholder="Libelle">
                </div>
                <button class="au-btn au-btn--block au-btn--blue m-b-20" type="submit">Ajouter</button>
            }
        </div>
        <br />
        <div class="table-data__tool-left">
            <div class="rs-select2--light rs-select2--md">
                Ajouter un produit ici :
            </div>
            @using (Html.BeginForm("CreateProduit", "Home", FormMethod.Post))
            {
                <div class="row form-group">
                    <div class="col col-md-9">
                        <input class="au-input au-input--full form-control" type="text" name="nom" placeholder="Nom">
                    </div>

                </div>
                <div class="row form-group">
                    <div class="col-12 col-md-9">
                        <select id="select" class="form-control" name="idCategorie">
                            <option selected="selected">-- Select --</option>
                            @foreach (var item in Model)
                            {
                                <option value="@item.Id">@item.Libelle</option>
                            }
                        </select>
                    </div>
                </div>
                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Ajouter</button>

            }
        </div>
        <br />
        <div class="table-data__tool-right">
            <a href="@Url.Action("Export", "Home")" class="au-btn au-btn-icon au-btn--green au-btn--small">
                <i class="zmdi zmdi-save"></i>Export
            </a>
        </div>
    </div>
</div>
